<div class="col-lg-12" style="background-color: white;padding-left: 0px;padding-right: 0px;">
<img width="100%" src="{{ asset('assets/elrs-assets/footer_top_bg.png') }}">
</div>
<div class="page-footer">
    <div class="container">

            <div class="col-lg-12" style="margin-top: 20px;margin-bottom: -18px;">
                <div class="col-lg-10">
                <p>ভূমি মন্ত্রনালয়, গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</p>
                </div>
                <div class="col-md-2">
               <p> কারিগরি সহায়তায়: <a href="http://www.a2i.pmo.gov.bd/"><img width="30" height="28" src="{{ asset('assets/elrs-assets/a2i.png') }}" alt="logo" class="logo-default"></a></p>
                </div>
            </div>

    </div>
</div>


<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>