<div id="khotian_status" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 330px;">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h1 class="modal-title custom-color-caption">  আবেদনের সর্বশেষ অবস্থা</h1>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:100px;" data-always-visible="1" data-rail-visible1="1">
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span> </span>
                    </div>
                    <form class="kahtianStatusForm" role="form">

                        <input class="form-control" type="text" id="applicationId" name="applicationId" placeholder="আবেদন নং " required>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger">বাতিল </button>
                <button id="kahtianStatusSubmitBtn" class="btn green " type="button">অনুসন্ধান</button>
            </div>
        </div>
    </div>
</div>