{% extends '::base.html.twig' %}
{% block body %}
<div class="page-container">
    <!-- BEGIN SLIDER -->

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase"></span>
                        <h2 class="caption-color"><span class="caption-helper">ল্যান্ড প্রজেক্ট লিংক</span></h2>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;">

                        <div class="scroller" style="height: 305px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                            <p class="important-link-homePage">সংস্থা ও বিভাগের<a href="http://www.landzoning.gov.bd"> (http://www.landzoning.gov.bd) </a></p><br>
                            <p class="important-link-homePage">ভূমি মন্ত্রণালয়<a href="http://www.minland.gov.bd"> (http://www.minland.gov.bd) </a></p><br>
                            <p class="important-link-homePage">রাজউক (রাজধানী উন্নয়ন কর্তৃপক্ষ)<a href="https://www.rajukdhaka.gov.bd"> (https://www.rajukdhaka.gov.bd) </a></p><br>
                            <p class="important-link-homePage">বাংলাদেশ জরিপ অধিদপ্তর<a href="https://www.sob.gov.bd"> (https://www.sob.gov.bd) </a></p><br>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}