{% extends '::base.html.twig' %}
{% block body %}
<div class="page-container">

        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject theme-font bold uppercase"></span>
                            <h2><span class="caption-helper caption-color">নাগরিক  ব্যবহার নির্দেশিকা </span></h2>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <p>
                            ইউ আই এস সি হিসাবে সিইসি ( কমিউনিটি ই সেন্টার) নামে পরিচিত তার পূর্ববর্তী সংস্করণে একটি পাবলিক সার্ভিস ডেলিভারি চ্যানেল ইউনিয়ন পর্যায়ে থেকে নির্গত . 2007 সালে দুজন কমিউনিটি ই- সেন্টার ( সিইসি) ইউএনডিপি গণতান্ত্রিক সরকার বিষয়ভিত্তিক ট্রাস্ট ফান্ড ( DGTTF ) অধীনে পাইলট হিসেবে প্রতিষ্ঠিত হয় . 2008 সালের প্রথম দিকে , সিইসি হিসেবে ইউএনডিপির একটি চালক প্রকল্প সমর্থিত তথ্য ( a2i ) অ্যাক্সেস অন্তর্ভুক্ত করা হয়েছে প্রধানমন্ত্রীর কার্যালয়ের কর্মসূচি . 2008 সালে স্থানীয় সরকার বিভাগের ( LGD ) ইউনিয়ন পরিষদের 30 সি শুরু . যে সঙ্গে সঙ্গতিপূর্ণ , LGD ধাপে বাংলাদেশ পদক্ষেপ সব ইউনিয়ন পরিষদে UISCs প্রতিষ্ঠিত . ইউএনডিপি সমর্থিত তথ্য ( a2i ) অ্যাক্সেস প্রধানমন্ত্রীর কার্যালয়ের কর্মসূচি এ ক্ষেত্রে একটি অনুঘটকের ভূমিকা পালন করে. এক মহিলা ও এক পুরুষ স্থানীয় যুবকদের - - প্রতিটি ইউআইএসসি দুই স্থানীয় উদ্যোক্তাদের দ্বারা পরিচালিত হয় যারা ​​কেন্দ্রে বিনিয়োগ করেছে , এবং সংশ্লিষ্ট ইউনিয়ন পরিষদ , যা স্থান ও ইউটিলিটি উপলব্ধ তত্ত্বাবধানে রয়েছে.
                        </p>
                    </div>
                </div>
                <!-- END PORTLET-->
                <!-- BEGIN PORTLET-->
                <!-- END PORTLET-->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <h1 class="caption-color"><span class="caption-subject theme-font bold uppercase"> ভিডিও লিংক</span></h1>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;">

                            <div class="scroller" style="height: 305px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                                <a  href="land_projects.html" class="important-link-homePage">ব্যবহার নির্দেশিকা ১ </a><br><br>
                                <a  href="user_manual.html" class="important-link-homePage">ব্যবহার নির্দেশিকা ২</a><br><br>
                                <a  href="dlrs_services.html" class="important-link-homePage">ব্যবহার নির্দেশিকা ৩</a><br><br>
                                <a  href="javascript:;" class="important-link-homePage">ব্যবহার নির্দেশিকা ৪</a><br><br>

                            </div>                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>

</div>
{% endblock %}