{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="col-md-7 col-sm-7">
                <h2 class="caption-color">আপনার ফোন নম্বরটি  দিন</h2></br>
                <form class="form-horizontal"  id="forgetPassword" method="post">

                    <fieldset>
                        <div class="form-group">
                            <label  class="col-lg-4 control-label">মোবাইল নম্বর <span class="require">*</span></label>
                            <div class="col-lg-8">

                                <input type="text" name="mobile"  id="mobile" class="form-control" >
                                <span id="valid-msg" class="hide error">✓ নম্বর টি সঠিক </span>
                                <span id="error-msg" class="hide error">নম্বর টি সঠিক নয় </span>
                            </div>

                        </div>

                    </fieldset>

                    <div class="row">
                        <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                            <button type="submit" class="btn btn-primary button-save-color">দাখিল করুন </button>
                        </div>
                    </div>
                </form>
            </div></br>
            <div class="col-md-4">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>গুরুত্বপূর্ণ তথ্য
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height:120px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                            <p>যে মোবাইল নম্বর এর মাধ্যমে আপনি এখানে নিবন্ধিত হয়েছেন সেই নম্বরটি ইনপুট দিন। </p>
                            <p>নম্বরটি  সঠিক হলে আপনার মোবাইলে একটি যাচাইকরণ কোড প্রদান করা হবে।</p>
                        </div>
                    </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>

        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts
    '@UserBundle/Resources/Public/js/forgetPasswordValidation.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptBlock %}