{% extends "::base.html.twig" %}

{% block body %}
    <div class="page-container">
        <div class="container">
            <div class="col-md-7 col-sm-7">
                <form class="form-horizontal"  id="forgetPasswordVerification" method="post">
                    </br>
                    <h2>আপনার যাচাইকরণ কোড দিন</h2>
                    <fieldset>

                        <div class="form-group">
                            <label  class="col-lg-4 control-label">যাচাইকরণ কোড <span class="require">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" name="verificationCode"  id="verificationCode" class="form-control" >
                            </div>

                        </div>

                    </fieldset>

                    <div class="row">
                        <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                            <button type="submit" class="btn btn-primary button-save-color">দাখিল করুন </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>গুরুত্বপূর্ণ তথ্য
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height:120px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
                            <p>আপনার মোবাইলে  প্রেরিত কোডটি এখানে লিখে দাখিল করুন। ।</p>
                            <p> কোডটি সঠিক ভাবে দাখিল হলে আপনার মোবাইলে  একটি সাময়িক পাসওয়ার্ড প্রদান করা হবে। ।</p>
                        </div>
                    </div>
                </div>
                <!-- END Portlet PORTLET-->
            </div>

        </div>
    </div>
{% endblock %}
{% block javascriptBlock %}
    {{ parent() }}
    {% javascripts

    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptBlock %}