{% extends '::base.html.twig' %}
{% block body %}
<div class="page-container dashboard-wrapper">
    <!-- BEGIN SLIDER -->
    <div class="container" style="background-color: white">
        <!-- BEGIN PAGE BREADCRUMB -->

        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="row margin-top-10">
            <div class="col-md-8 col-sm-12 margin-top-20">

                <div class="page-slider margin-top-10">
                    <!-- LayerSlider start -->
                    <div id="layerslider" style="width: 100%; height: 420px; margin-top: auto;">

                        <!-- slide one start -->

                        <!-- slide two end -->

                        <!-- slide three start -->
                        <div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

                            <img src="assets/elrs-assets/bangladesh_in_2014-international_arena.jpg" class="ls-bg" alt="Slide background">

                        </div>
                        <div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

                            <img src="assets/elrs-assets/bangladesh_in_2014-international_arena.jpg" class="ls-bg" alt="Slide background">

                        </div>
                        <div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">

                            <img src="assets/elrs-assets/bangladesh_in_2014-international_arena.jpg" class="ls-bg" alt="Slide background">

                        </div>
                        <!-- slide three end -->

                        <!-- slide four start -->
                        <!-- slide four end -->
                    </div>
                    <!-- LayerSlider end -->
                </div>

            </div>
            <div class="col-md-4 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">

                    <div class="portlet-body">
                        <div class="row number-stats margin-bottom-30" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-left" >

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: green">মাসিক সেরা  রেকর্ড রুম</p2>
                                        </div><br>
                                        <div class="number">
                                            <p2 style="color: green">ঢাকা</p2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-right">

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: green">ত্রৈমাসিক সেরা  রেকর্ড রুম</p2>
                                        </div>
                                        <div class="number">
                                            <p2 style="color: green">জয়পুরহাট </p2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row number-stats margin-bottom-30">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-left">

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: blueviolet ">মোট  আবেদন গৃহীত</p2>
                                        </div>
                                        <div class="number">
                                            <p2 style="color: blueviolet">৪৫৬৭</p2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-right">

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: blueviolet">মোট  আবেদন বিতরণ</p2>
                                        </div>
                                        <div class="number">
                                            <p2 style="color: blueviolet">৭৬৫৭</p2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row number-stats margin-bottom-30">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-left">

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: lightseagreen "> রেকর্ড ডিজিটাইজেশন </p2>
                                        </div>
                                        <div class="number">
                                            <p2 style="color: lightseagreen">৪৫৬৭</p2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-right">

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: lightseagreen"> সেবা প্রদান </p2>
                                        </div>
                                        <div class="number">
                                            <p2 style="color: lightseagreen">৯৮৭৬</p2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row number-stats margin-bottom-30">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-left">

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: orangered ">ইউ ডি সি   সার্ভিসের উদ্ধার</p2>
                                        </div>
                                        <div class="number">
                                            <p2 style="color: orangered">গাইবান্ধা </p2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="stat-right">

                                    <div class="stat-number">
                                        <div class="title">
                                            <p2 style="color: orangered">ইউ ডি সি  আবেদন গ্রহণ</p2>
                                        </div>
                                        <div class="number"><br>
                                            <p2 style="color: orangered">কেরানীগঞ্জ </p2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject theme-font bold uppercase"></span>
                            <h3><span class="custom-color-caption">পর্চা  অনুসন্ধান</span></h3>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group ">
                                    <div class="col-md-11">
                                        <select name="foo" class="select2me form-control">
                                            <option value="1">সার্ভে নির্বাচন করুন </option>
                                            <option value="1">আর এস</option>
                                            <option value="1">সি এস</option>
                                            <option value="1">এস এ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <div class="col-md-11">
                                        <select name="foo" class="select2me form-control">
                                            <option value="1">বিভাগ  নির্বাচন করুন</option>
                                            <option value="1">ঢাকা</option>
                                            <option value="1">চট্টগ্রাম</option>
                                            <option value="1">রাজশাহী</option>
                                            <option value="1">সিলেট</option>
                                            <option value="1">বরিশাল</option>
                                            <option value="1">খুলনা</option>
                                            <option value="1">রংপুর</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <div class="col-md-11">
                                        <select name="foo" class="select2me form-control">
                                            <option value="1">জেলা নির্বাচন করুন </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div><br>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group ">

                                    <div class="col-md-11">
                                        <select name="foo" class="select2me form-control">
                                            <option value="1">উপজেলা নির্বাচন করুন </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <div class="col-md-11">
                                        <select name="foo" class="select2me form-control">
                                            <option value="1">মৌজা   নির্বাচন করুন</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-11">
                                        <input type="text" class="form-control" placeholder="পর্চা   নির্বাচন করুন">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <br>

                        <button class="btn green" id="btn-search" style="margin-left: 30px;"  type="button">অনুসন্ধান</button>

                    </div>
                </div>
                <!-- END PORTLET-->
                <!-- BEGIN PORTLET-->
                <!-- END PORTLET-->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <h3> <span class="custom-color-caption"> রেকর্ড বৈধতা চেক </span></h3>
                        </div>
                    </div>
                    <div class="form-inline">
                        <label>
                            <input class="form-control" style="width: 280px;" type="text" placeholder="আবেদন নং ">
                        </label><br><br>
                        <button class="btn green " type="button">অনুসন্ধান</button>

                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- BEGIN PORTLET-->
                <!-- END PORTLET-->
                <!-- BEGIN PORTLET-->
                <div class="portlet light tasks-widget">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <span class="caption-subject theme-font bold uppercase"></span>
                            <h3><span class="custom-color-caption">ভি আর আর সমূহ </span></h3>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="dhaka_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                ঢাকা বিভাগ
                            </div>
                        </a>
                        <a href="chittagong_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                চট্টগ্রাম বিভাগ
                            </div>
												<span class="badge badge-success">
												২৩ </span>
                        </a>
                        <a href="khulna_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                খুলনা বিভাগ
                            </div>
                        </a>
                        <a href="rajsahi_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                রাজশাহী বিভাগ
                            </div>
                        </a>
                        <a href="syhlet_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                সিলেট বিভাগ
                            </div>
                        </a>
                        <a href="rangpur_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                রংপুর বিভাগ
                            </div>
												<span class="badge badge-info">
												৪৫৬৭ </span>
                        </a>
                        <a href="barisal_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                বরিশাল বিভাগ
                            </div>
                        </a>
                        <a href="mymonsing_vrr.html" class="icon-btn">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                ময়মনসিং বিভাগ
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart theme-font hide"></i>
                            <h3><span class="custom-color-caption"> গুরুত্বপূর্ণ লিঙ্ক</span></h3>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <a href="land_projects.html" class="important-link-homePage">ল্যান্ড প্রজেক্ট লিংক </a><br><br>
                        <a href="user_manual.html"  class="important-link-homePage">নাগরিক  ব্যবহার বিধি</a><br><br>
                        <a href="dlrs_services.html"  class="important-link-homePage">ডি এল আর এস   সেবা সমূহ </a><br><br>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
        </div>

        <!-- END PAGE CONTENT INNER -->
    </div>

    <!-- END SLIDER -->

</div>
    {% endblock %}